Repository KevinNitroG/win-check-bat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,css,json}": ["prettier --write"],
}

chore(semantic-release): fix plugin config
  release.config.mjs
Due: eslint --fix, prettier --write

ci(release): setup cache
  .github/workflows/release.yml
Due: none

chore(deps): update all deps
  package-lock.json
Due: prettier --write

ci(release): husky = 0
  .github/workflows/release.yml
Due: none

docs(README): add badges
  docs/README.md
Due: none

chore(deps): add prettier
  package-lock.json
  package.json
Due: prettier --write

docs(README): fix preview image path
  docs/README.md
Due: none

feat: add options
  bin/index.js
  bin/win-check-bat.js
  eslint.config.mjs
  package-lock.json
  package.json
  src/index.ts
  src/modules/commander.ts
  src/modules/execBatteryReport.ts
  src/modules/genTmpFile.ts
  src/modules/processInfo.ts
  src/types/info.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): update package-lock
  package-lock.json
Due: prettier --write

refactor(processInfo): make method static
  src/modules/processInfo.ts
Due: eslint --fix, prettier --write

fix(deps): install semantic-release deps manually
  package-lock.json
  package.json
Due: prettier --write

fix(deps): install "conventional-changelog-conventionalcommits"
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1b5f7d5bfaf7499e67234987430b26233848f9b1
Due: none

chore(dev): format, setup eslint, tsconfig
  .husky/install.mjs
  .lintstagedrc
  .prettierignore
  .prettierrc.json
  bin/index.js
  commitlint.config.js
  eslint.config.mjs
  package.json
  release.config.mjs
  src/index.ts
  src/modules/commander.ts
  src/modules/execBatteryReport.ts
  src/modules/genTmpFile.ts
  src/modules/processInfo.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(dev): reconfig lintstagedrc to mjs
  .lintstagedrc
  .lintstagedrc.mjs
Due: eslint --fix, prettier --write

chore(dev): add eslint sort import, config adapt with prettier
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: sort import
  src/index.ts
  src/modules/execBatteryReport.ts
  src/modules/genTmpFile.ts
Due: eslint --fix, prettier --write

docs(README): how to use, showcase
  assets/images/preview.png
  docs/README.md
Due: none

chore(gitattributes): modify husky's stuff
  .gitattributes
Due: none

chore(dev): add path alias
  bin/win-check-bat.js
  package-lock.json
  package.json
  src/index.ts
  src/modules/processInfo.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(bot): add renovate
  renovate.json
Due: prettier --write

chore(package.json): no force windows
  package.json
Due: prettier --write

chore(bot): add whitesource (mend bolt)
  .whitesource
Due: none

chore(renovate): enable semantic
  renovate.json
Due: prettier --write

chore: alias path for types as @ctypes
  src/modules/processInfo.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: print table as default, add status
  docs/README.md
  package-lock.json
  package.json
  src/index.ts
  src/modules/commander.ts
  src/modules/processInfo.ts
  src/types/info.ts
  src/types/status.ts
  src/types/statusColor.ts
  src/utils/status.ts
  src/utils/statusColor.ts
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  cff8de33178a044996d15acbbba6e9841098fce6
Due: none

feat: change description for status
  docs/README.md
  src/utils/status.ts
  src/utils/statusColor.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  354f1fcbcd70f16f1beb9f88c4965a3d64358e9c
Due: none

fix: hide desc by default
  docs/README.md
  src/index.ts
  src/modules/commander.ts
  src/modules/processInfo.ts
Due: eslint --fix, prettier --write

chore: fix typo
  src/modules/commander.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  c305e1e62c439dc5ae26d7e3f84c7d2b88647f69
Due: none

fix(package.json): constraint dev env for dev, not user
  package.json
Due: prettier --write

fix: forgot wrong staged changes
  package.json
Due: prettier --write

Notes added by 'git notes add'
  66d08b4eec1776feed9408a554a81b28c0648130
Due: none

fix: reverse option precise value
  src/modules/processInfo.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e88f1fa189be1d46648911339ce89957be2535d4
Due: none

chore(README): move to root
  README.md
Due: none

chore(renovate): setup auto merge deps upgrade
  renovate.json
Due: prettier --write
