Repository KevinNitroG/win-check-bat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{html,css,json}": ["prettier --write"],
}

chore(package.json): exclude src
  package.json
Due: prettier --write

chore(renovate): enable auto merge lockfile
  renovate.json
Due: prettier --write

chore(renovate): no match field in dev deps
  renovate.json
Due: prettier --write

build: use rollup and terser to minify dist
  .gitignore
  .prettierignore
  eslint.config.mjs
  package-lock.json
  package.json
  rollup.config.mjs
  tsconfig.json
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  e25aa945a77cfba1c51cedad884b07eebd2abd37
Due: none

fix(deps): update all deps, also rollup terser
  package-lock.json
  package.json
  rollup.config.mjs
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  3723bad981ecbdeed03f38b0142f3454a91dff26
Due: none

docs(README): update badges, cmd to run
  README.md
Due: none

chore(renovate): add label for renovate's pr
  renovate.json
Due: prettier --write

style(eslint): config padding line
  eslint.config.mjs
Due: eslint --fix, prettier --write

chore(package): cleanup, change scripts section
  package-lock.json
  package.json
Due: prettier --write

chore(renovate): auto merge in branch for silent
  renovate.json
Due: prettier --write

ci: add codeql scanning
  .github/workflows/codeql.yml
Due: none

chore(pkg): just pre-settup
  README.md
  package.json
Due: prettier --write

Add license scan report and status
  README.md
Due: none
